html {
  height: 100%;
}

body {
  font-family: "poppins", sans-serif;
  font-weight: lighter;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(#D4145A, #FBB03B);
}
.form,
table {
  width: 300px;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
}


.form-but {
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  background-color: #d4145a;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.form-but:hover {
  background-color: #fbb03b;
}
input {
  color:white;
  border: transparent;
  background-color:transparent;
  padding-bottom:10px;
  margin-top: 5px;
  border-bottom: 1px white solid;
}
input:focus {
  outline: none;
}
::placeholder {
  color: white;
  opacity: 1; 
}


table tr td {
  margin: 10px;
  padding: 10px;
  border-collapse: collapse;
  text-align: center;
  background-color: #FFFBF5;
  color: #333;
  font-size:18px;
  font-weight:300
}

table {
  border-spacing: 2px;
  border-color: gray;
  background: gray;
}



table,
th,
td {
  border-collapse: separate;
  border-spacing: 1px;

}

.update,
.delete {
  color: black;
  transition: color 0.3s ease;
}

.update:hover,table tr:nth-child(odd) .update:hover {
  color: skyblue;
}

.delete:hover,table tr:nth-child(odd) .delete:hover {
  color: red;
}

table tr:nth-child(odd) .update,
table tr:nth-child(odd) .delete,
table tr:nth-child(odd) .single {
  color: white;
  transition: color 0.3s ease;
}

table tr:nth-child(odd) td {
  background-color: black;
  color:white;
}
.single {
  color:black;
}
.single:hover,table tr:nth-child(odd) .single:hover {
  color:brown;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
  table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    border: 1px solid #D4145A;
  }
  table tr td {
    padding: 0;
  }
}