
body {
  background-color: rgb(204, 164, 241);
  font-family: "poppins", sans-serif;
  font-weight:lighter;
  color:white;
}
.form,table{

  width: 300px;
  margin: auto;
  transform: translateY(200px);

}
.form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
}
.form-but {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  margin-top: 5px;
}
input {
  border: transparent;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}
table {

}
table tr td{
  margin: 10px;
  padding: 10px;
  border-collapse:collapse;
  text-align: center;

  }


 
.trhead {
  background-color:#9361f2
}
tr {
  background-color:#4c10f3;
}
